*{
    margin: 0;
    padding: 0;
}
body{
    overflow:hidden;
    animation: shakeBody linear 6s infinite;

}
.sky{
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-image: url(background.jpg);
    position: absolute;
}
.trees{
    height: 100vh;
    width: 100%;
    background-image: url(trees.png);
    background-size: cover;
    position: absolute;
    top: -144px;
    
}
.track{
    height: 60vh;
    width: 800vw;
    background-image: url(track.png);
    /* background-size: cover; */
    position: absolute;
    top: 70vh;
    background-repeat: repeat-x;
    animation: carMove linear 15s infinite;

}
.car{
    height: 100px;
    width: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(car_body.png);
    position: absolute;
    left: 444px;
    bottom: 215px;
    animation: shake linear .3s infinite;

}

.wheel1 img{
    width: 77px;
    position: relative;
    top: 35px;
    left: 35px;
    animation: wheelRotation linear .6s infinite;
}

.wheel2 img{
    width: 77px;
    position: relative;
    top: -46px;
    animation: wheelRotation linear .6s infinite;

    left: 215px;
}
@keyframes wheelRotation{
    100%{
        transform: rotate(360deg);
    }
}
@keyframes carMove{
    100%{
        transform: translateX(-500vw);
    }
}
@keyframes shake{
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}
@keyframes shakeBody{
    0%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(-50px);
    }
}
